<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark cyan" [containerInside]="false" class="row">
    <div class="col-lg-12  d-flex justify-content-center">
    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand" href="#">Result Management System</a></mdb-navbar-brand>
</div>

  </mdb-navbar>
  <!--/.Navbar-->

  <div class="section">
    <div>
    <label for=""> Login as</label>
    </div>
    <div>
        <a routerLink="teacher/login" class="btn btn-primary mr-3" mdbBtn  gradient="blue" rounded="true" mdbWavesEffect>Teacher</a>
            <a routerLink="student/search" class="btn btn-primary" mdbBtn gradient="blue" rounded="true" mdbWavesEffect> Student</a>
  <!-- <button type="button" mdbBtn color="primary" mdbWavesEffect rout>Teacher</button>
  <button type="button" mdbBtn color="primary" mdbWavesEffect>Student</button> -->
  
  </div>
  </div>