<!-- <app-navbar></app-navbar> -->
<!-- <app-student></app-student>
<app-teacher></app-teacher> -->
<router-outlet></router-outlet>
<!-- <a routerLink="student/login"> login</a> -->
<!-- <a routerLink="/student"> student</a>
<a routerLink="/teacher"> Teacher</a> -->
<!-- <div class="section">
  <div>
  <label for=""> Login as</label>
  </div>
  <div>
<button type="button" mdbBtn color="primary" mdbWavesEffect>Teacher</button>
<button type="button" mdbBtn color="primary" mdbWavesEffect>Student</button>

</div>
</div> -->

