.form-group{

    width: 50%;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    // border:2px solid black;
}
.form1{
    width: 60%;
    // border:2px 
}

