.form-group{

    width: 50%;
}
.form-control{
    width: 50%;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
   
    flex-direction: column;
    // border:2px solid black;
}


