<div class="container vh-100">
    <div class="row justify-content-center h-100">
        <div class="card my-auto shadow">
            <div *ngIf="valid">
                <p style="color: red;">*{{errormessage}}</p>
            </div>

            <div class="card-body px-5">
                <div class="text-center">
                    <!-- <fa-icon [icon]="faLock" class="fa-3x"></fa-icon> -->
                </div>
                <div class="text-center">
                    <h2>Welcome</h2>
                </div>
                <p style="color: lightslategray; text-align: center;">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Please enter your login
                    details&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                    <div class="card-body">
                        <form #simpleForm="ngForm" (ngSubmit)="signIn(simpleForm.value)">
                            <div class="form-group">
                                <input type="text" ngModel name="email" class="form-control" placeholder="Email" required autofocus>
                            </div>
                            <div class="form-group">
                                <input type="password" ngModel name="password" class="form-control"  placeholder="password" required>
                            </div>
                            <button class="btn btn-primary btn-block">
                                Login
                            </button>
                        </form>
                    </div>
            </div>
            <div class="card-footer text-right">
                <!-- <small><a routerLink="../forgot-password">Forgot Password</a></small> -->
            </div>
        </div>
    </div>
</div>
